{% extends 'layout.html' %}
{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title is-1">메뉴!</h1>
            <h2 class="subtitle">등록된 {{ length }}개의 메뉴중 하나를 랜덤으로 추천합니다!</h2>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="content is-large">
                <blockquote id="menu">{{ menu }}</blockquote>
            </div>

            <button id="refresh" class="button is-info is-light is-large is-fullwidth">메뉴 추천 받기</button>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <a href="https://github.com/chick0/choice" target="_blank">GitHub</a>
        </div>
    </section>
{% endblock %}
{% block script %}
    <script>
        const API_PATH = "{{ url_for('api.get_menu') }}";
        document.getElementById("refresh").addEventListener("click", () => {
            fetch(API_PATH).then((resp) => {
                return resp.json();
            }).then((json) => {
                document.getElementById("menu").innerText = json.name;
            }).catch((err) => {
                console.error(err);
                window.alert("메뉴를 불러오는 과정에서 오류가 발생했습니다.\n잠시 후 다시 시도해주세요.");
            });
        });
    </script>
{% endblock %}